.table-container {
  grid-area: table;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
  padding: min(2rem, 2%);
}

table {
  width: 100%;
  border-collapse: collapse;
  tr {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 50px 50px;
    align-items: center;
    justify-items: start;
    padding: min(1rem, 1%);
  }
  tr:not(:last-child) {
    border-bottom: 1px solid rgba(236, 235, 227, 1);
  }
  th {
    color: rgba(112, 109, 92, 1);
    font-weight: 400;
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    span {
      grid-row: span 2;
    }
  }
}

.sorting-arrow {
  display: grid;
  background: none;
  border: none;
  height: min-content;
  grid-column: 2;
}
.sorting-arrow:focus {
  filter: brightness(0.8);
}

.sorting-arrows button:disabled {
  filter: brightness(0.5);
}

.edit {
  button {
    background: none;
    border: 2px solid rgba(236, 235, 227, 1);
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    color: black;
    font-weight: 700;
  }
}

.delete {
  justify-self: end;
  button {
    background: none;
    border: none;
  }
}
